package io.ics.disciple.module

import io.ics.disciple._

import io.ics.disciple.labels._

trait BindNamedBoilerplate {
  this: Module =>

  private type L = PossibleLabel

  def forNames(label1: L) = new NamesWord1(label1)(this)
  [1..21#def names(label##1: L, [#label2: L#]) = new NamesWord2(label##1, [#label2#])(this)#
  ]
}